@import '~antd/lib/style/themes/default.less';


.menuHeader{
    background-color:#fff; 
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 66px;
    .img{
        float: left;
        margin-top: 10px;
        margin-left: 80px;
        height:50px;
    }
}

.indexContent{
    padding: 20px;
    text-align: center;
    margin-top: 64;
    .img{
        margin: auto;
        width: 70%;

    }
}

.indexFooter{
    margin:0;
    padding: 0;
}