@import '~antd/lib/style/themes/default.less';
.globalMenu {
    background-color: #fff;
    text-align: right;
    line-height: 64px;
    width: 100%;
    .avatar{
        background-image: linear-gradient(to top, #4481eb 0%, #04befe 100%);
    }
}
.loginModal{
    max-width: 400px;
    .form{
        max-width: 300px;
        margin: auto;
    }
}